@model MyBlog.Models.Account.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">请登录</h2>
            <label class="sr-only" for="name">用户名</label>
            <input type="text" autofocus="" placeholder="用户名" class="form-control" id="name" name="Name">
            <label class="sr-only" for="inputPassword">密码</label>
            <input type="password" required="" placeholder="Password" class="form-control" id="inputPassword" name="Password">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsRemember) 两天内自动登陆
                    @*<input type="checkbox" name="IsRemember" value="IsRemember"> 两天内自动登陆*@
                </label>
            </div>
            <input type="submit" value="登录" class="btn btn-lg btn-primary btn-block" />
        }
    </div>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
